{% extends "layout.html" %}

{% block title %}Files{% endblock %}

{% block body %}
    <h1 class="text-center">Files owned by {{user}}</h1>
    {% for f in file_list %}
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <p>{{f.Filepath}}!</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}

