{% extends "layout.html" %}

{% block title %}Upload{% endblock %}

{% block body %}

<div class="container">
  <form action="/upload" id="upload-form" enctype="multipart/form-data" method="POST">
    <div class="form-group">
      <h1>Upload</h1>
      <p>Use this form to upload a json file to the API.</p>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="file-input">JSON file</label>
        <input type="file" accept=".json" class="form-control-file" id="file-input" name="file-input" />
      </div>
    </div>
    <div class="form-row">
      <pre id="file-contents" name="file-contents"></pre>
    </div>
    <button id="clear-button" type="reset" class="btn btn-primary" disabled="true">Clear</button>
    <button id="submit-button" type="submit" data-toggle="modal" data-target="#confirm-submit" class="btn btn-primary"
      disabled="true">Submit</button>
  </form>
</div>

<div id="resultModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="outcomeModal"
aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Moon</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/static/js/script.js"></script>

{% endblock %}